<!-- footer -->
<footer class="page-footer">
    <p>
      &copy; <span id="date"></span>
      <span class="footer-logo">SpicyzRecipes</span> Built by
      <a>Sira_the_niqqabit</a>
    </p>
  </footer>
  <!-- footer ends here -->