<nav class="navbar">
  <div class="nav-center">
    <div class="nav-header">
      <a href="/index" class="nav-logo">
        <h3 id="logo">Spicyz<span>Recipe</span></h3>
      </a>
      <button class="nav-btn btn">
        <i class="fas fa-align-justify"></i>
      </button>
    </div>

    <div class="nav-links">
      <a href="/index" class="nav-link"> home </a>
      <a href="#about-us" class="nav-link"> about </a>

        <div class="drop">
          <a class="nav-link dropbtn" onclick="myFunction()"> Categories </a>
          <section class="dropdown-content" id="mydrop">
            <!-- single tag -->
            <a href="tag-template" class="navtag">
              <h5 id="h5" class="h5-top">beef</h5>
              <!-- <p>1 recipe</p> -->
            </a>
            <!-- end of single tag -->
            <!-- single tag -->
            <a href="tag-template" class="navtag">
              <h5 id="h5">breakfast</h5>
              <!-- <p>2 recipe</p> -->
            </a>
            <!-- end of single tag -->
    
            <!-- single tag -->
            <a href="tag-template" class="navtag">
              <h5 id="h5">lunch</h5>
              <!-- <p>1 recipe</p> -->
            </a>
            <!-- end of single tag -->
    
            <!-- single tag -->
            <a href="tag-template" class="navtag">
              <h5 id="h5">dinner</h5>
              <!-- <p>4 recipe</p> -->
            </a>
            <!-- end of single tag -->
    
            <!-- single tag -->
            <a href="tag-template" class="navtag">
              <h5 id="h5">snack</h5>
              <!-- <p>3 recipe</p> -->
            </a>
            <!-- end of single tag -->
          </section>
          
        </div>
     
      <a href="#recipe-blog" class="nav-link"> recipes </a>
   

    <div class="nav-link contact-link">
      <a href="/contact" class="btn"> contact </a>
      <!-- <input type="search" name="search" id="search"> -->
      <i class="fa fa-search"></i>
    </div>
    <div class="log-in-container">
      <span class="log-links">
        <a href="#"><span>Sign Up</span></a>
        <li>/</li>
        <a href="#" class="log">Log In</a>
      </span>
    </div>

  </div>

  </div>

</nav>

<!-- end of nav -->
