<!DOCTYPE html>
<html lang="en">
<%-include ('./partials/head') %>

    <body>
        <%-include ('./partials/nav') %>
        <article>
            <form class="Loginform" id="userLogin">
                <div class="form-row">
                    <label for="Username" class="form-label">Username</label>
                    <input type="text" name="userName" placeholder="Enter username" class="form-input" autocomplete="off">
                    <div class="userNameError" style="color: tomato; text-align: center"></div>
                </div>
                
                <div class="form-row">
                    <label for="Recipe Password" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter password" class="form-input" autocomplete="off">
                    <div class="passwordError" style="color: tomato; text-align: center"></div>
                </div>
                <button type="submit" class="btn btn-block"> LogIn </button>
                <div>
                    <p class="userSignUp">Don't have an account? |<a href="/register">SignUp</a></p>
                </div>
            </form>
        </article>
            <!-- footer -->
            <%-include('./partials/footer')%>
                <!-- footer ends -->
                <script src="../js/main.js"></script>
                <script src="../js/nav.js"></script>

                <script src="../js/login.js"></script>
    </body>
</html>