<!DOCTYPE html>
<html lang="en">
<%-include ('./partials/head') %>

    <body>
        <%-include ('./partials/nav2') %>
            <article>
                <form class="Loginform ">
                    <div class="form-row">
                        <label for="FullName" class="form-label">Fullname</label>
                        <input type="text" name="fullName" placeholder="Enter name your fullname" class="form-input">
                    </div>
                    <div class="form-row">
                        <label for="Username" class="form-label">Username</label>
                        <input type="text" name="userName" placeholder="Enter name your username" class="form-input">
                    </div>
                    <div class="form-row">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" name="email" placeholder="Enter name your email" class="form-input">
                    </div>
                    <div class="form-row">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" name="password" placeholder="Enter name your password"
                            class="form-input">
                    </div>
                    <div class="form-row">
                        <label for="Confirm Password" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPassword" placeholder="Renter previous password"
                            class="form-input">
                    </div>
                    <button type="submit" class="btn btn-block"> SignUp </button>
                    <div>
                        <p class="userSignUp">By clicking "Sign up" you agree to our Terms of Service.</p>
                        <p class="userSignUp">Already have an account? | <a href="/login">LogIn</a></p>
                    </div>
                </form>
            </article>
            <!-- footer -->
            <%-include('./partials/footer')%>
                <!-- footer ends -->
                <script src="../js/main.js"></script>
                <script src="../js/nav.js"></script>
                <script src="../js/register.js"></script>
    </body>

</html>