<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%> 
  <body>
    <%-include('./partials/nav')%> 
    <main class="page">
         <section class="tags-wrapper">
          <!-- single tag -->
              <a href="tag-template" class="tag">
                <h5>beef</h5>
                <p>1 recipe</p>
              </a>
            <!-- end of single tag -->
          <!-- single tag -->
              <a href="tag-template" class="tag">
                <h5>breakfast</h5>
                <p>2 recipe</p>
              </a>
            <!-- end of single tag -->
         
            <!-- single tag -->
                <a href="tag-template" class="tag">
                  <h5>lunch</h5>
                  <p>1 recipe</p>
                </a>
                <!-- end of single tag -->

          <!-- single tag -->
              <a href="tag-template" class="tag">
                <h5>dinner</h5>
                <p>4 recipe</p>
              </a>
            <!-- end of single tag -->

               <!-- single tag -->
               <a href="tag-template" class="tag">
                <h5>snack</h5>
                <p>3 recipe</p>
              </a>
            <!-- end of single tag -->
        </section>
    </main>
     <!-- footer -->
     <%-include('./partials/footer')%> 
     <!-- footer ends -->
     <script src="../js/main.js"></script>
    <script src="../js/nav.js"></script>
  </body>
</html>
